In [ ]:
import numpy as np
import pandas as pd

---
### Creating a DataFrame

Create a DataFrame with 

+ index 'a', ..., 'e'

+ column `even` with values 0, 2, 4, 6, 8

+ column `odd` with values 1, 3, 5, 7, 9

in two ways, with and without a dictionary.

In [ ]:
# code

In [ ]:
# code

---
## Indexing

---
### Exercise

Access the column with odd values.

In [ ]:
# code

---
### Exercise:

Access the row with index `c`.

In [ ]:
# code

---
### Exercise


Access the even value of row `d`.

In [ ]:
# code

---
### Exercise 

Consider the following DataFrame:

In [ ]:
df = pd.DataFrame(
    np.arange(12).reshape(4, 3) + 10,
    index=[1, 2, 3, 4], 
    columns=[1,2,3])
print(df)

**Task:** Predict the output:

In [ ]:
# df[1]
# df.loc[1]
# df.iloc[2]
# df[1,1]
# df[1].loc[1]
# df[1].iloc[1]
# df.loc[1,1]
# df.iloc[1,1]

---
## Reading CSV Files

---
### Exercise

Read the dataset `data/bmi01.csv` and inspect the DataFrame in different ways.

In [ ]:
filename = 'data/bmi01.csv'

# code

---
### Exercise

Read the dataset `data/bmi02.csv` and inspect the DataFrame.

In [ ]:
# code

---
### Exercise

Read the dataset `data/bmi03.csv` and inspect the DataFrame.

In [ ]:
# code

---
### Exercise

Add columns names 'Gender', 'Height', 'Weight' to the DataFrame from the previous exercise.

In [ ]:
# code

---
### Exercise

Rename the `Gender` column of the DataFrame from the previous exercise to `Sex`.

In [ ]:
# code

---
### Exercise

Read `data/bmi03.csv` and add column names 'Gender', 'Height', 'Weight' while creating the DataFrame.

In [ ]:
# code

---
## Slicing

All exercises in the slicing section refer to the DataFrame of the first exercise.

---
### Exercise

Create a DataFrame to store a 10x10 matrix with values from 1 to 100. The column names are 'a', ..., 'j' and the index-labels are 'A', ..., 'J'.

In [ ]:
# code

---
### Exercise 

Access every second column starting with the second column.

In [ ]:
# code

---
### Exercise

Access every second row and every second column. Start with the second row and the first column.

In [ ]:
# code

---
### Exercise 

Access rows 'D' to 'G' and columns 'f' to 'i'.

In [ ]:
# code