## 5. Application

This notebook serves to provide a first impression of how to use Pandas for data science. 

For our working example, we will use the `data/india_dirty.csv` dataset. This dataset was taken from [Data analysis: female literacy in India](https://scipython.com/book2/chapter-9-data-analysis-with-pandas/examples/data-analysis-female-literacy-in-india/) and has been modified to illustrate some pandas techniques.

Goal of the analysis is to model the relationship between female literacy and the other features provided by the data.

In [1]:
import pandas as pd
import numpy as np

---
### Content

    5.1  Loading the Data
    5.2  Inspecting the Data
    5.3  Data Cleaning: Removing Irrelevant Features
    5.4  Data Cleaning: Correcting the Type of Data
    5.5  Data Cleaning: Detecting Missing Data
    5.6  Data Cleaning: Handling Missing Data
    5.7  Data Cleaning: Handling Duplicates
    5.8  Outlier Detection
    5.9  Feature Engineering
    5.10 Exploring the Data
    5.11 Linear Regression

---
### 5.1 Loading the Data

In [2]:
filename = 'data/india_dirty.csv'
df = pd.read_csv(filename)

**Remark:** We can convert a pandas DataFrame to a NumPy ndarray by calling the `to_numpy()` method of `.values` on the DataFrame. This allows us to explore the data using NumPy functions and methods. Example: The call

```python
    data_1 = df.to_numpy()
    data_2 = df.values
```

convert DataFrame `df` to the NumPy ndarray `data`.

---
### 5.2 Inspecting the Data

After loading the data into a Pandas DataFrame, it is important to inspect it to get a better understanding of its structure and contents. Common DataFrame methods for inspecting the data are:

```python
    df.head(3)         # print first 3 rows (5 is default)
    df.tail(3)         # print last 3 rows (5 is default)
    df.info()          # print summary 
    df.describe()      # print descriptive statistics of the data
    df.shape           # return number of rows and columns 
    df.index           # print index labels
    df.columns         # print column labels
```

#### 5.2.1 `df.head`

The `df.head` method is useful for quickly getting an overview and seeing a sample of the data without having to view the entire DataFrame, which can be helpful when working with large datasets.

In [5]:
df.head()

,State/UT,TIN,Code,Male Population,Female Population,Area (km2),Male Literacy (%),Fertility Rate,Female Literacy (%)
0,Rajasthan,8,RJ,35550997,32997440,342239,80.51,NaN,52.66
1,Madhya Pradesh,23,MP,37612306,35014503,308245,80.53,3.3,60.02
2,Maharashtra,27,MH,58243056,54131277,307713,89.82,1.9,75.48
3,Uttar Pradesh,9,UP,104480510,95331831,240928,79.24,3.7,59.26
4,Jammu and Kashmir,1,JK,6640662,5900640,222236,87.26,2.2,86.23

**Irrelevant features**

We identify the following features as irrelevant for our analysis:

+ tax identification number (TIN) 

+ state code

We will discard these features in the *data cleaning* step. 

<br>

**Missing values**

We happen to identify a missing value in the first row (fertility rate of Rajasthan). We need to check for other missing values and deal with them appropriately. 

<br>

**Missing features**

Potentially useful features that are missing are 

+ population density: how do fertility and literacy rates relate to density?

+ total literacy rate: what is the total literacy rate of a state?

We will add potentially useful features to our DataFrame object in the *feature engineering* step.

#### 5.2.2 `df.info`

The `df.info()` method provides a summary of the DataFrame, including the 

+ number of entries

+ column names

+ data types

+ memory usage 

This information can be useful when deciding how to clean and prepare the data.

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37 entries, 0 to 36
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   State/UT             37 non-null     object
 1   TIN                  37 non-null     int64
 2   Code                 37 non-null     object
 3   Male Population      37 non-null     int64
 4   Female Population    37 non-null     int64
 5   Area (km2)           37 non-null     int64
 6   Male Literacy (%)    36 non-null     object
 7   Fertility Rate       34 non-null     float64
 8   Female Literacy (%)  35 non-null     float64
dtypes: float64(2), int64(4), object(3)
memory usage: 2.7+ KB

**Erroneous and missing data**

The output shows that 

+ the table consists of 37 rows and 9 columns

+ type of column 'male literacy' should be numeric but is object

+ column 'male literacy' has one missing value

+ column 'fertility rate' has three missing values

+ column 'female literacy' has two missing values

<br>


The 'male literacy' column could not be recognized as numeric because it includes a non-numeric entry. This issue will be addressed during the data cleaning step, where we will correct or remove any missing or erroneous data. Similarly, handling missing values is also an important part of the data cleaning process.

---
### 5.3 Data Cleaning: Removing Irrelevant Features

As part of the data cleaning process, we want to remove the irrelevant columns 'TIN' and 'Code' from our DataFrame. For this, we use the `drop()` method.

To drop a single column, you can call the `drop()` method and pass the name of the column you want to drop as the first argument, along with the `axis` parameter set to `1` to indicate that you want to drop a column. Here's an example of how you can drop a column named `'column_name'` from a DataFrame `df`:

```python
    df = df.drop('column_name', axis=1)
```

If you want to drop multiple columns at once, you can pass a list of column names to the `drop()` method. Here's an example of how you can drop two columns named `'column_1'` and `'column_2'` from a DataFrame `df`:

```python
    df = df.drop(['column_1', 'column_2'], axis=1)
```

In our case, we can use this method to remove the 'TIN' and 'Code' columns from our DataFrame.

In [7]:
# drop irrelevant columns
df = df.drop(['TIN','Code'], axis=1)

# inspect data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37 entries, 0 to 36
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   State/UT             37 non-null     object
 1   Male Population      37 non-null     int64
 2   Female Population    37 non-null     int64
 3   Area (km2)           37 non-null     int64
 4   Male Literacy (%)    36 non-null     object
 5   Fertility Rate       34 non-null     float64
 6   Female Literacy (%)  35 non-null     float64
dtypes: float64(2), int64(3), object(2)
memory usage: 2.2+ KB

---
### 5.4 Data Cleaning: Correcting the Type of Data

We notice that the male literacy column is not of numeric type, although we expected it to be. The `to_numeric()` method will attempt to convert non-numeric objects (such as strings) to integers or floats as appropriate.

**Example:** 

```python
df['column_name'] = pd.to_numeric(df['column_name'], errors='coerce')
```

Here, `column_name` is the name of the column to be converted. The `errors` argument determines how the function handles invalid parsing:

+ `errors='coerce'`: invalid parsing will be set as `NaN`
+ `errors='raise'`: an exception will be raised for invalid parsing
+ `errors='ignore'`: the original value will be returned if parsing is invalid

In [8]:
df['Male Literacy (%)'] = pd.to_numeric(df['Male Literacy (%)'], errors='coerce')

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37 entries, 0 to 36
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   State/UT             37 non-null     object
 1   Male Population      37 non-null     int64
 2   Female Population    37 non-null     int64
 3   Area (km2)           37 non-null     int64
 4   Male Literacy (%)    35 non-null     float64
 5   Fertility Rate       34 non-null     float64
 6   Female Literacy (%)  35 non-null     float64
dtypes: float64(3), int64(3), object(1)
memory usage: 2.2+ KB

After converting the data type of the male literacy column to `float64`, we note that the number of missing values has increased from one to two. This is because one of the values in the column was a string 'xxx', which could not be parsed as a numeric value and resulted in a `NaN` value.

---
### 5.5 Data Cleaning: Detecting Missing Data

We have identified missing data in the following columns of our DataFrame:

+ male literacy

+ female literacy

+ fertility rate

To detect missing values, we can use the `df.isna()` method. This method returns a boolean DataFrame of the same shape as `df`, where missing values, `None`, and `np.NaN` are mapped to `True` and all other values, including empty strings `''` and `np.inf`, are mapped to `False`.

**Remarks:**

+ A missing value is represented by the absence of any character between two commas. The space ` ` and  the empty string `''` are treated as string values and not as missing values.

+ `df.isnull()` is an alias of `df.isna()`.

In [13]:
# df.isna()                         # returns boolean object of the same size as df
# df.loc[:, df.isna().any()]        # returns columns with missing data (not very useful)
# df[df.isna().any(axis=1)]         # returns rows with missing data
# df.isna().sum()                   # returns number of missing values for each column


---
### 5.6 Data Cleaning: Handling Missing Data

This step involves identifying and correcting or removing missing data. Two simple techniques to handle missing values are **deletion** and **imputation**.

Imputation refers to the process of replacing missing or correcting incomplete values in the dataset with  estimates based on other available information. Simple techniques for replacing missing values include imputing the mean or median of a feature. More sophisticated imputation techniques include regression and interpolation.

#### 5.6.1 Imputing Values

We will first impute values for the missing data in the `Fertility Rate` column. This task is critical and should be done with care (see note). In this example, we will take a simple approach and impute the median fertility rate. Our primary concern is to introduce the `df.fillna()` method to fill missing values with a specified value.

**Note:** Imputing the right values for missing data is critical because it can have a significant impact on the results of your analysis. Imputing incorrect or inappropriate values can introduce bias or distortions into the dataset, leading to inaccurate or misleading results. For example, imputing missing values using the mean or median of a column can artificially reduce the variance of the data and make it appear more homogeneous than it actually is. This can affect the performance of statistical tests and machine learning models, leading to incorrect conclusions.

In [ ]:
# median fertility rate
median_fertility = df['Fertility Rate'].median()
print('median fertility rate:', median_fertility)

# impute median
df['Fertility Rate'] = df['Fertility Rate'].fillna(median_fertility)

# show number of missing values for each column
df.isna().sum()

#### 5.6.2 Deleting rows with missing values

If imputation is not possible or if the remaining missing values are not significant for your analysis, you can then drop the rows with missing values using the `dropna()` method.

In [14]:
# remove rows with at least one missing value
df = df.dropna()

# show number of missing values for each column
df.isna().sum()

State/UT               0
Male Population        0
Female Population      0
Area (km2)             0
Male Literacy (%)      0
Fertility Rate         0
Female Literacy (%)    0
dtype: int64

---
### 5.7 Data Cleaning: Handling Duplicates

Duplicate data can arise in a dataset for several reasons. In some cases, duplicate data may be valid and represent the distribution of the data (e.g., weight and height of people). In other cases, duplicate data can compromise the integrity of the dataset.

The `df.duplicated()` method detects duplicate records in a dataset. This method returns a boolean Series indicating whether each row is a duplicate of another row. A value of `True` indicates that the row is a duplicate, while a value of `False` indicates that the row is unique.

Chaining the `df.duplicated()` method with the `.sum()` method returns the number of duplicates in the dataset.

In [ ]:
df.duplicated().sum()

Duplicates can be dropped by using the `df.drop_duplicates()` method:

In [ ]:
# drop all duplicate rows except for the first occurence
df = df.drop_duplicates()

# final inspection
df.info()

---
### 5.8 Outlier Detection

Outliers can have a negative impact on statistical analysis and the training process of machine learning algorithms. As such, it’s important to detect and handle outliers during the data preprocessing stage.

One way to get a first impression of the data distribution is to use the `df.describe()` method. This method generates descriptive statistics that summarize the central tendency, dispersion, and shape of the distribution of a dataset.

If you identify any suspicious columns, you can further inspect them using various methods such as box plots, scatter plots, or z-scores.

In [ ]:
df.describe()

Outliers are most likely to be found in the 'Area' column. The minimum and maximum values substantially differ from the mean and the percentiles. A similar observation can be made with the population columns.  A closer look may be necessary.


**Handling Outliers**

Although dealing with outliers is beyond the scope of this notebook, we will provide a brief overview of different techniques.
 
There are several ways to handle outliers, depending on the specifics of the dataset and the analysis being performed. Some common methods for dealing with outliers include:

+ Removing (trimming) the outliers: remove the outliers from the dataset if they are not significant to the analysis or if they represent errors or bad data.

+ Quantile-based flooring and capping: cap the values of the data at a certain quantile to reduce the impact of extreme values.

+ Imputation: impute the values of the outliers using various techniques such as for missing values. 

+ Transform the data: use techniques such as scaling, log transformation, or cube-root normalization to reduce the impact of outliers.

It is important to carefully consider the potential impact of dealing with outliers.

---
### 5.9 Feature Engineering

When we examined the data, we realized that potentially useful features are missing for our analysis:

+ population density: how do fertility and literacy rates relate to population density?

+ total literacy rate: what is the total literacy rate of a state?

To address these gaps, we can perform feature engineering to create new features that capture this information. As an example, we will add the total population as an auxiliary feature and calculate the population density.

#### 5.9.1 Total population

In [ ]:
# create new column
df['Population'] = df['Male Population'] + df['Female Population']

# check the total population
total_pop = df['Population'].sum()
print(f'total population: {total_pop:,d}')

# inspect data
df.head()

---
#### 5.9.2 Population Density

In [ ]:
# create new column
df['Density'] = df['Population'] / df['Area (km2)']

# inspect data
df.head()

---
### 5.10 Exploring the Data

#### 5.10.1 Pairwise Scatterplot

Pairwise scatterplots (see UE 11) are useful for quickly visualizing relationships between pairs of variables and can help to identify trends, correlations, and outliers. To create a pairwise scatterplot, we use the `sns.pairplot()` function from the Seaborn library.

In [ ]:
# %conda install seaborn -y           # uncomment for installing seaborn

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt
sns.pairplot(df)
plt.show()

Inspecting the plot indicates (the partly obvious) correlations between 

+ male and female literacy

+ fertility rate and female literacy

+ population and area

+ population, female population, and male population

In addition, we see that the population of one state (Uttar Pradesh) is an outlier. 

Based on these results, it may be possible to predict female literacy using only male literacy and fertility rate as predictors.

#### 5.10.2 Correlations

To verify the visual observations obtained from `sns.pairplot`, we can compute the correlation coefficients between the variables. The correlation coefficient measures the strength and direction of the linear relationship between two variables, with values ranging from -1 to 1. Values close to -1 or 1 indicate a strong correlation, while values close to 0 indicate a weak correlation. We can use the `df.corr()` method to compute the correlation coefficients for the variables in our DataFrame.

In [ ]:
# Select only the columns with numeric data
numeric_df = df.select_dtypes(include='number')

# Compute the correlation matrix
corr_matrix = numeric_df.corr()

# Print the correlation matrix
print(corr_matrix)

We can use the `df.corr()` method to compute the correlation coeffcient between two columns of a DataFrame. For example, to compute the correlation coefficient between fertiltiy rate and female literacy, call:

In [ ]:
df['Fertility Rate'].corr(df['Female Literacy (%)'])

**Interpretation**:
A coefficient of -0.6 indicates a moderate negative linear relationship between fertility rate and female literacy. 

It is important to note that this correlation does not imply causation. While the data suggests that higher fertility rates are associated with lower female literacy, it does not necessarily mean that high fertility rates cause low female literacy.

---
### 5.11 Linear Regression

As a final step, we will use sklearn's linear regression [[>](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LinearRegression.html)] to predict female literacy using male literacy and fertility rate as predictors. We will first select the relevant columns from the DataFrame and then convert the data to a NumPy ndarray. Once we have the data in the desired format, we can apply linear regression to make our predictions. Note that we are keeping the setup simple.

In [ ]:
df.info()

**Step 1:** Select columns and convert to numpy.

In [ ]:
data = df[['Male Literacy (%)', 'Fertility Rate', 'Female Literacy (%)']].values
print('shape:', data.shape)

**Step 2:** Split numpy array into feature matrix `X` and label vector `y`.

In [ ]:
X = data[:,:-1]
y = data[:,-1]

**Step 3:** Fit a linear regression model.

In [ ]:
from sklearn.linear_model import LinearRegression

lr = LinearRegression()
lr.fit(X, y)
r2_score = lr.score(X, y)

print(f'train r2: {r2_score:.2f}')

**Interpretation:** The coefficient of determination $R^2$ is explained in the sklearn documentation [[>](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LinearRegression.html)]

The best possible $R^2$ value is 1.0. An $R^2$ score of 0.76 means that approximately 76% of the variance in the dependent variable can be explained by the independent variables in the model. This suggests that the model has a relatively good fit to the data, although there is still some unexplained variance.